$nav-link-padding-y:pxtorem(15px)!default;
$nav-link-padding-x:pxtorem(15px)!default;

$slick-font-path: "assets/fonts/" !default;
$slick-loader-path: "assets/img/" !default;
$slick-arrow-color: $white!default;
$slick-font-family: "uda"!default;
$slick-prev-character: "\66" !default;
$slick-next-character: "\67" !default;
$btn-border-radius:0 !default
