.box{
	background-color:$white;
	&--layer{
		z-index:100;
		margin-top:pxtorem(-60px);
	}
	&-header,&-footer,&-content{
		h2{
			font-size:pxtorem(24px);
			text-transform: uppercase;
			b{
				color:$color-second;
			}
			&.title{
				font-size:pxtorem(20px);
				text-transform:inherit;
			}
		}
		&.gutter{
			padding:pxtorem(10px) pxtorem(15px);
		}
	}
	&-title{
		font-size:pxtorem(30px);
		line-height:110%;
	}
	&.gutter{
		padding:pxtorem(20px);
	}
	.border-bottom,
	.border-top{
		border-color:#F2F2F2!important;
	}
	&--cover{
		border:solid 1px #F2F2F2;
		flex:1;
		margin:0 1rem;
		a{
			display: block;
		}
		@media screen and (max-width:992px) {
			flex: inherit;
			margin-bottom:pxtorem(20px);
		}
		@media screen and (max-width:768px) {
			width: 27%;
		}
		@media screen and (max-width:576px) {
			width: 43%;
		}
	}
	&--flat{
		box-shadow:inherit;
		overflow:hidden;
		border:solid 1px #F2F2F2;
		flex:auto;
		margin:0 1rem;
		@media screen and (max-width:992px) {
			flex: inherit;
			margin-bottom:pxtorem(20px);
		}
		@media screen and (max-width:768px) {
			width: 27%;
		}
		@media screen and (max-width:576px) {
			width: 43%;
		}
	}
	.box-title--small{
		font-size:pxtorem(16px);
	}
}
.bg-first{
	background-color:$color-first;
}
.link{
	color:$color-second;
	font-size:pxtorem(20px);
	font-weight: 700;
	&:hover{
		color:$color-second;
	}
	&--third{
		color:$color-third;
	}
	&--small{
		font-size:1rem;
	}
	&--tag{
		font-size:pxtorem(13px);
		display:flex;
		align-items: center;
		justify-content: start;
		clear:both;
		box-shadow: 0 0 0 0 rgba(0,0,0, .3);
		transition: all .2s ease-in-out;
		color:$color-third;
		.link-icon{
			line-height:100%;
			i{
				line-height:100%;
			}
		}
		.link-text{
			font-weight:700;
		}
	}
}
.white{
	color:$white;
}
.title{
	font-size:pxtorem(30px);
	text-transform: uppercase;
	&--medium{
		font-size:pxtorem(24px);
	}
	&--small{
		font-size:pxtorem(20px);
		text-transform:inherit;
	}
}
.mh-120{
	min-height:pxtorem(120px);
}
.btn-nav{
	background-color:$white;
	padding:pxtorem(15px);
	font-size:pxtorem(20px);
	display: flex;
	align-items: center;
	justify-content: center;
	i{
		line-height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}
	&:hover{
		text-decoration: none;
	}
}
.mw-160{
	min-width:pxtorem(110px);
}

// mobile
.js-canvas{
	position:relative;
	overflow: hidden;
}
.js-sidebar{
	@media screen and (max-width:992px) {
		position:relative;
	}
}

.js-results{
	@media screen and (max-width:992px) {
		position:absolute;
		z-index:1;
		background-color:$color-bg;
		transition: all 1s ease-in-out;
		height:100%;
		box-shadow: 0 -5px 20px rgba(0,0,0,0.4);
	}
}

.js-canvasMove{
	@media screen and (min-width:992px) {
		display:none;
	}
	position:fixed;
	bottom:15px;
	width:50px;
	height:50px;
	overflow:hidden;
	right:15px;
	padding:5px;
	font-size:20px;
	line-height:50px;
	border-radius:30px;
	box-shadow:0 3px 6px rgba(0,0,0,.1);
	z-index:3;
	background-color:$color-second;
	color:#fff;
	text-align: center;
	i{
		text-align:center;
		font-size:24px;
		line-height:40px;
		position:absolute;
		left:0;
		right:0;
		margin:0 auto;
	}
	&:hover{
		color:#fff;
		background-color:$color-first;
		text-decoration:none;

	}
}

.js-results{
	.c-search__form{
		display: flex;
		.c-search__input{
			min-width:inherit;
			flex-grow: 1;
		}
	}
}

// shared
.shared{
	&-links{
		display:flex;
		align-items: center;
	}
	&-link{
		color:$color-first;
		font-size:1rem;
		line-height:100%;
		display:flex;
		justify-content: center;
		align-items: center;
		margin-right:pxtorem(10px);
		transition: all .3s ease-in-out;
		width:pxtorem(40px);
		height:pxtorem(40px);
		&:last-child{
			margin-right:0;
		}
		&--circle{
			border:solid 1px #ccc;
			padding:pxtorem(10px);
			border-radius:100%;
		}
	}
	&-icon{
		position:relative;
		width:pxtorem(20px);
		height:pxtorem(20px);
		display:block;
		text-align:center;
		i{
			font-size:1rem;
		}
		&--facebook{
			color:#0F69B4;
		}
		&--twitter{
			color: #03A9F4;
		}
		&--linkedin{
			color: #0077B5;
		}
	}
}
.actions{
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding:0;
	margin-top: 1rem;
	.btn{
		padding:0;
		margin:0;
		text-transform:inherit;
		color:$color-third;
		color:$color-third;
		font-size:pxtorem(14px);
		margin-right:1rem;
		&:hover{
			text-decoration: underline;
		}
		@media screen and (max-width:480px) {
			width: 100%;
			text-align:center;
			display:block;
			&:last-child{
				margin-bottom:0;
			}
		}
	}
}
.layer{
	margin-top:pxtorem(-60px);
}
.badge{
	background-color:$color-second;
	color:$white;
	font-style:pxtorem(20px);
	line-height:100%;
	padding:pxtorem(3px) pxtorem(15px);
	border-radius:pxtorem(25px);
	display: inline-block!important;
	&:hover,&:focus{
		text-decoration:none;
		color:#fff;
		background-color:darken($color-second, 10%);
	}
}

#outstanding,
#themes,
#dates{
	display: none!important;
	&.active{
		display: flex!important;
	}
	@media screen and (max-width:992px) {
		flex-wrap: wrap;
		justify-content: flex-start!important;
	}
	@media screen and (max-width:768px) {

	}
}
// #outstanding{}
// #themes{}
// #dates{}
