// Colors
$white:#FFF;
$black:#000;
$color-first:#354857;
$color-second:#D6C21F;
$color-third:#006032;
$color-text:$color-first;
$color-bg:#F6F6F6;

// fonts
$base_size:16px;
$font_base:'Montserrat', sans-serif;

// Common
$transition-duration: .3s !default;

// Margins & Paddings
$numbers: 0, 10, 20, 30, 40, 50;
$sides: t top,r right,b bottom,l left;
