// Colors
$white:#FFF;
$black:#000;
$color-first:#673ab7;
$color-second:#9a67ea;
$color-third:#320b86;
$color-text:#333;
$color-bg:#f5f5f6;

// fonts
$base_size:16px;
$font_base:arial, sans-serif;

// Common
$transition-duration: .3s !default;

// Margins & Paddings
$numbers: 0;
$sides: t top,r right,b bottom,l left;
